#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  color: #000000; /* makes welcome text white */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
nav {
  margin: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0077ff;
}

nav a:hover {
  text-decoration: underline;
}
/* Button styled like nav links */
.nav-button {
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, transform 0.2s ease;
}

.nav-button:hover {
  background: white;
  color: rgb(16, 137, 211);
  box-shadow: rgba(133, 189, 215, 0.7) 0px 10px 10px -5px;
  transform: scale(1.05);
}

.nav-button:active {
  transform: scale(0.95);
}
